*.o
*.dSYM
*.csv
*.out
#*.png
#*.jpg
*.pyc
old/
mnist/

caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

*.so
results/
data/model_file
data/demo
data/dataset/BelgiumTS
data/dataset/tt100k/data/*
data/dataset/one_class/data/*
data/results
data/Video
data/Videos
data/video1
backup/
